@import url("https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 2em;
  background-color: #c7c7c7;
  font-family: "Open Sans", sans-serif;
}

h2,
h1 {
  font-family: "Charm", cursive;
}
a {
  text-decoration: none;
  color: rgb(58, 58, 58);
}

#welcome-section {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-image: url(./img/welcome-section.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  line-height: 1.7em;
  font-size: 2em;
  z-index: 0;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  z-index: 2;
  background-color: rgba(250, 250, 250, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  -ms-backdrop-filter: blur(20px);
}

.navbar {
  margin-right: 60px;
}
.navbar a {
  font-size: 1.5em;
  font-weight: bold;
  padding: 4px 10px;
}

.navbar a:hover {
  color: #161616fd;
  background-color: rgba(175, 174, 174, 0.699);
  border-radius: 30px;
}

.about {
  background-color: #e7e7e7;
  padding: 100px 30px;
  display: flex;
  flex-direction: row;
}

.profile {
  width: 300px;
  max-height: 100px;
  margin-right: 10px;
}

p {
  text-align: justify;
  margin: 0 auto;
  font-size: 1.2em;
  width: 80%;
}

.projects-section {
  background-color: #d2d2d2;
  text-align: center;
  padding: 50px 100px 100px 100px;
}

.projects-section h2 {
  padding-bottom: 90px;
  font-size: 1.9em;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.project-tile {
  width: 250px;
  height: 230px;
  margin: 10px auto;
}

.project-img {
  width: 100%;
}

.contact {
  background-color: #c7c7c7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 3em;
  padding: 80px;
}

.contact-heading {
  padding: 20px;
  font-size: 1.5em;
}

.social-links {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-links a {
  padding: 10px;
}
i {
  margin-right: 10px;
  color: black;
}

/* icons color */
.fa-facebook {
  color: #1877f2;
}
.fa-twitter {
  color: #1da1f2;
}

.footer {
  background-color: #b7b7b7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}

.footer-heart {
  color: red;
}

@media all and (max-width: 1024px) {
  #welcome-section {
    padding-left: 15px;
  }
  .footer {
    flex-direction: column;
  }
  .copy-right {
    margin-top: 10px;
  }
  .contact-heading {
    padding: 0px;
    line-height: 1em;
  }

  .social-links {
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }

  .contact {
    padding: 10px 2px 10px 2px;
  }
  .project-tile {
    width: 250px;
    height: 230px;
    margin: 0 auto;
  }

  .project-img {
    width: 100%;
  }

  .projects-section {
    padding: 0;
    padding-top: 50px;
  }

  p {
    width: 100%;
  }

  .navbar {
    margin-right: 1px;
  }

  .navbar a {
    padding: 7px;
  }

  .about {
    flex-direction: column-reverse;
  }

  .profile {
    width: 100%;
    max-height: 100%;
    margin: 30px auto;
  }
}

/* contact.html styles */
.contact-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(./img/welcome-section.jpg);
  background-repeat: no-repeat;
  background-position: top;
  color: rgb(58, 58, 58);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  /* height: 100vh; */
  /* backdrop-filter: blur(1px); */
}

.form-container {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px 50px;
  border-radius: 20px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: solid 2px rgba(255, 255, 255, 0.1);
  margin-top: 100px;
}

.contact-input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  outline: none;
  border: solid 1px rgba(255, 255, 255, 0.1);
  background-color: rgba(253, 241, 241, 0.678);
}

.textarea {
  width: 40vw;
}

.input {
  width: 40vw;
}

.send-btn {
  padding: 10px 30px;
  background-color: rgb(110, 113, 136);
  font-size: 1em;
  font-weight: 700;
  color: #1a1a1a;
  transition: color 0.4s ease-in-out;
}

.send-btn:hover {
  color: azure;
  background-color: black;
}

/*  Thnk you page Styles */

.thank-you-body {
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Indie Flower", sans-serif;
  background-image: url(./img/contact.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(4px);
}

.thank-you-h1 {
  color: rgb(135, 184, 23);
  font-weight: 700;
  font-size: 7em;
}
