/* import fonts from Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');

/* Styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #e5e5e5;
  background-image: url(img/image_geometry_1.svg);
  background-repeat: no-repeat;
  color: #1a2236;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(211, 144, 228, 0.2);
}

::-webkit-scrollbar-thumb {
  border: 2px solid #fff;
  border-radius: 8px;
  background-color: #3d3d3d;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 10%, 70%);
}

::-webkit-scrollbar-thumb:active {
  background-color: hsl(0, 10%, 60%);
}

/* Header section */

.header {
  display: flex;
  justify-content: flex-end;
}

.mobile_menu_btn {
  position: fixed;
  margin-top: 19px;
  margin-right: 16px;
  right: 0;
  width: 20px;
  transition: width 100ms ease-in-out;
}

.mobile_menu_btn:active {
  width: 25px;
}

.mobile_menu {
  width: 100vw;
  height: 100vh;
  background-color: #e5e5e5;
  background-image: url(img/menu_bg_1.svg), url(img/menu_bg_2.svg);
  background-position: top left, bottom center;
  background-size: 85%, 100%;
  background-repeat: no-repeat;
  display: none;
  position: fixed;
  z-index: 20;
}

.menu_close {
  font-size: 25px;
  position: absolute;
  right: 17px;
  top: 13px;
  color: #c4c4c4;
  transition: width 100ms ease-in-out;
}

.menu_close:active {
  font-size: 30px;
}

.mobile_menu_items {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menu_link {
  text-decoration: none;
  display: inline-block;
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 48px;
  transition: font-size 700ms ease-in-out;
}

.menu_link:hover {
  font-size: 18px;
  text-decoration: underline;
}

/* Headline Section */

#headline_section {
  margin-top: 104px;
}

.header_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline {
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  margin-left: -150px;
  font-size: 50px;
}

.headline_description {
  font-family: Poppins, sans-serif;
  margin-top: 20px;
  margin-left: -33px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  width: 288px;
}

.social-links {
  list-style: none;
  display: flex;
  margin-top: 20px;
}

.social-icon {
  margin-right: 20px;
  align-self: baseline;
}

.social-icon i {
  font-size: 30px;
  color: #1a2236;
}

.headline_btn {
  color: #fff;
  background-color: #1a2236;
  margin-top: 52px;
  width: 288px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 2px;
  margin-left: -33px;
}

.headline_btn a {
  color: #fff;
}

.headline_email:hover,
.headline_email:active {
  color: #1a2236;
}

.headline_btn:hover {
  color: #1a2236;
  background-color: #e5e5e5;
  border: 1px solid #1a2236;
  cursor: pointer;
}

.headline_btn:active {
  color: #1a2236;
  background-color: #e5e5e5;
  border: 2px solid #1a2236;
  cursor: pointer;
}

#headline_section img {
  width: 320px;
  height: 160px;
  margin-top: 30px;
}

/* Projects section */

.projects_container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.projects_headline {
  margin-top: 30px;
  margin-left: 16px;
  margin-bottom: 32px;
  font-family: 'Playfair Display', serif;
  color: #1a2236;
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
}

/* popup */

.popup_close {
  font-size: 25px;
  position: absolute;
  right: 17px;
  top: 13px;
  color: #c4c4c4;
  transition: width 100ms ease-in-out;
}

.popup_close:active {
  font-size: 30px;
}

.project_pop {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  bottom: 0;
  background-color: #e5e5e5;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 15;
  display: none;
}

.project_pop::-webkit-scrollbar {
  width: 10px;
}

.project_pop::-webkit-scrollbar-track {
  background-color: transparent;
}

.project_pop::-webkit-scrollbar-thumb {
  border: 2px solid #fff;
  border-radius: 8px;
  background-color: #3d3d3d;
}

.project_pop::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 10%, 70%);
}

.project_pop::-webkit-scrollbar-thumb:active {
  background-color: hsl(0, 10%, 60%);
}

.popup_name {
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  line-height: 16px;
  color: #1a2236;
  margin-top: 290px;
  margin-left: 20px;
  text-align: left;
  width: 85%;
}

.popup_languages {
  display: flex;
  list-style: none;
  width: 85%;
}

.popup_language {
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-size: 10.33px;
  line-height: 8.27px;
  color: #1a2236;
  padding: 7px 10px;
  margin-left: 10px;
  margin-top: 23px;
  margin-bottom: 23px;
  border: 0.52px solid #1a2236;
}

.popup_text {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 29px;
  margin-top: 29px;
  color: #1a2236;
  width: 85%;
}

.popup_buttons {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.popup_btn {
  margin-bottom: 29px;
  padding: 12px;
  background-color: #fff;
  outline: none;
  border: 1px #1a2236 solid;
  width: 85%;
}

.project_pop a {
  color: #1a2236;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  line-height: 27px;
}

.popup_btn:hover {
  background-color: #fff;
  color: #1a2236;
  border: 1px #1a2236 solid;
  cursor: pointer;
}

.popup_btn:active {
  background-color: #fff;
  color: #1a2236;
  border: 2px #1a2236 solid;
  cursor: pointer;
}

.img_slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 85%;
}

.slider_container {
  width: 100%;
  margin: auto;
  overflow: hidden;

  /* height: 100px; */
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.popup_img {
  max-width: 100%;
  max-height: 500px;
  border: 1px solid transparent;
  height: 300px;
}

.mini_img {
  display: flex;
  max-width: 70%;
  overflow-x: scroll;
}

.mini_img::-webkit-scrollbar {
  width: 5px;
}

.mini_img::-webkit-scrollbar-track {
  background-color: transparent;
}

.mini_img::-webkit-scrollbar-thumb {
  border: 2px solid #fff;
  border-radius: 8px;
  background-color: #3d3d3d;
}

.mini_img::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 10%, 70%);
}

.mini_img::-webkit-scrollbar-thumb:active {
  background-color: hsl(0, 10%, 60%);
}

.popup_mini_img {
  max-height: 100px;
  border: 1px solid transparent;
}

.popup_mini_img:hover {
  border: 1px solid #252c40;
}

.image_container_all {
  height: 450px;
}

/* popup window */

.project {
  grid-column: 1 / 6;
  display: flex;
  flex-direction: column;
}

.project_img {
  width: 100%;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.project_body {
  background-color: #1a2236;
  padding: 20px;
  height: 400px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project_name {
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
}

.project_languages {
  display: flex;
  list-style: none;
}

.project_language {
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-size: 10.33px;
  line-height: 8.27px;
  color: #1a2236;
  background-color: #98dede;
  padding: 7px 10px;
  margin-right: 10px;
  margin-top: 22px;
}

.project_desc {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  margin-top: 5px;
  color: #fff;
}

.project_btn {
  bottom: 1px;
  padding: 10px;
  background-color: #1a2236;
  color: #fff;
  outline: none;
  border: 1px #fff solid;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  line-height: 24px;
}

.project_btn:hover {
  background-color: #fff;
  color: #1a2236;
  border: 1px #1a2236 solid;
  cursor: pointer;
}

.project_btn:active {
  background-color: #fff;
  color: #1a2236;
  border: 2px #1a2236 solid;
  cursor: pointer;
}

.fa-arrow-right {
  margin-left: 12px;
}

/* About section */

#about_section {
  display: flex;
  flex-direction: column;
}

.widget-headline {
  margin: 10px 30px;
}

.codersrank-activity {
  align-self: center;
  margin-top: 50px;
  width: 73vw;
}

/*
codersrank-work-experience {
  margin: 10px;
  --item-bg-color: rgba(240, 240, 72, 0.301);
  --item-border-radius: 10px;
  --item-padding: 20px;
}

codersrank-education {
  margin: 10px;
  --item-bg-color: rgba(240, 240, 72, 0.301);
  --item-border-radius: 10px;
  --item-padding: 20px;
} */

.about_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_headline {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  margin-top: 56px;
  margin-left: 16px;
  color: #1a2236;
}

.about_text {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 20px;
  margin-left: 16px;
  color: #1a2236;
  width: 288px;
}

.about_btn,
.contact_btn {
  color: #fff;
  background-color: #1a2236;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-top: 32px;
  width: 288px;
  margin-left: 16px;
  padding: 13px;
  border: 1px solid #1a2236;
}

.about_btn {
  color: #fff;
  display: block;
}

.about_btn:hover {
  color: #1a2236;
  background-color: #e5e5e5;
  border: 1px solid #1a2236;
  cursor: pointer;
}

.about_btn a:hover {
  color: #1a2236;
}

.about_btn:active {
  color: #1a2236;
  background-color: #e5e5e5;
  border: 2px solid #1a2236;
  cursor: pointer;
}

.fa-download {
  margin-left: 15px;
}

.tech {
  margin-left: 16px;
  margin-top: 40px;
  width: 289px;
  list-style: none;
}

.my_languages {
  background-color: #1c528a;
  background-image: url(img/ic_languages_mob.svg);
  background-position: right;
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 50px;
  margin-top: 16px;
  height: 289px;
}

.my_frameworks {
  background-color: #e2505c;
  background-image: url(img/ic_framework.svg);
  background-position: right;
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 50px;
  margin-top: 16px;
  height: 289px;
}

.my_skills {
  background-color: #febf52;
  background-image: url(img/ic_skills.svg);
  background-position: right;
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 50px;
  margin-top: 16px;
  height: 289px;
}

.my_languages span,
.my_frameworks span,
.my_skills span {
  list-style: none;
  font-family: Poppins, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-align: center;
}

.tech_box {
  margin-top: 21px;
}

.box_item {
  list-style: inside;
  color: #fff;
}

.box_item span {
  position: relative;
  left: -11px;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

/* Contact section */

#contact_section {
  background-image: url(img/image_geometry_3.svg);
  background-repeat: no-repeat;
  margin-top: 50px;
  padding-top: 103px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  color: #1a2236;
  margin-left: 18px;
}

.contact_text {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -1%;
  font-style: normal;
  margin-left: 18px;
  margin-top: 20px;
  width: 288px;
}

.form {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.input1 {
  width: 288px;
  height: 52px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #dfdfe0;
  margin-bottom: 8px;
  margin-left: 18px;
  padding: 16px;
}

.input2 {
  width: 288px;
  height: 52px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #dfdfe0;
  margin-bottom: 8px;
  margin-left: 18px;
  padding: 16px;
}

.input3 {
  width: 288px;
  height: 112px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #dfdfe0;
  margin-left: 18px;
  padding: 16px;
}

.input1:invalid,
.input2:invalid,
.input3:invalid {
  border: 1px solid #252c40;
}

.contact_btn {
  color: #fff;
  background-color: #1a2236;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-top: 20px;
  width: 288px;
  margin-left: 16px;
  padding: 13px;
  border: 1px solid #1a2236;
}

.contact_btn:hover {
  color: #1a2236;
  background-color: #e5e5e5;
  border: 1px solid #1a2236;
  cursor: pointer;
}

.contact_btn:active {
  color: #1a2236;
  background-color: #e5e5e5;
  border: 2px solid #1a2236;
  cursor: pointer;
}

.contact_footer {
  background-color: #1a2236;
  margin-top: 64px;
  width: 100%;
  height: 150px;
}

.resume {
  display: flex;
  align-items: flex-end;
}

.footer_link {
  color: #92dcdc;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  display: inline-block;
  padding-top: 32px;
  margin-left: 16px;
  text-decoration: none;
  margin-right: 15px;
}

.footer_icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  width: 350px;
}

.footer_icon {
  color: #fff;
  font-size: 24px;
}

.nav_menu {
  display: none;
}

@media only screen and (min-width: 995px) {
  body {
    background-image: none;
    overflow-x: hidden;
  }

  .header {
    justify-content: center;
    align-items: baseline;
    width: 100vw;
  }

  .mobile_menu_btn {
    display: none;
  }

  .nav_menu {
    display: flex;
    width: 100vw;
  }

  .nav_items {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100vw;
  }

  .nav_item {
    list-style: none;
    margin: 38px 49px 38px 1px;
  }

  .nav_link {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #1a2236;
  }

  /* Headline section */

  #headline_section {
    margin-top: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }

  .header_content {
    background-image: url(img/image_dots.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 130px;
    flex-basis: 100%;
    align-items: flex-start;
  }

  .background_img {
    background-image: url(img/desctop_background\ 1.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    flex-basis: 100%;
  }

  .headline {
    font-size: 110px;
    line-height: 110px;
    margin-left: 160px;
    width: 484px;
    margin-right: 94px;
  }

  .headline_description {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -1%;
    margin-left: 160px;
    width: 484px;
    margin-right: 94px;
  }

  .social-links {
    margin-left: 160px;
  }

  .headline_btn {
    margin-left: 160px;
    margin-right: 94px;
  }

  .headline_section img {
    display: none;
  }

  /* Project section */

  #projects_section {
    margin: 150px auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .projects_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 50px;
  }

  .project_headline_img {
    background-image: url(img/image_dots.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100px;
    height: 558px;
    margin-left: 60px;
    margin-top: 90px;
    position: absolute;
  }

  .projects_headline {
    transform: rotate(-90deg);
    margin-right: 200px;
  }

  .project {
    margin: 5px;
    padding: 0;
    width: 400px;
    height: 600px;
    margin-right: 0px auto;
  }

  .project:nth-child(1) {
    margin-left: 420px;
  }

  .project img {
    min-height: 250px;
    height: 250px;
  }

  .popup_name {
    margin-top: 250px;
  }

  .popup_mini_img {
    height: 200px;
  }

  /* About section */

  .about_section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
  }

  .about_main {
    margin-left: 15%;
    width: 40%;
  }

  .about_headline {
    font-size: 110px;
    line-height: 110px;
  }

  .about_text {
    font-size: 14px;
    line-height: 21px;
    width: 100%;
  }

  .tech {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-right: 96px;
  }

  .my_languages,
  .my_frameworks,
  .my_skills {
    width: 289px;
    margin: 0;
  }

  .desktop_about_img {
    background-image: url(img/about_img.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  /* Contact section */

  #contact_section {
    background-image: url(img/contact_img.svg);
    background-repeat: no-repeat;
    background-position: top left;
    margin-top: 158px;
    padding-top: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
  }

  .contact_title {
    font-size: 110px;
    line-height: 110px;
    margin-left: 0;
  }

  .contact_text {
    margin-left: 0;
    margin-top: 20px;
    width: 548px;
  }

  .form {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .input1 {
    width: 262px;
    height: 60px;
    border: 1px solid #e0e0e0;
    margin-bottom: 8px;
    padding: 20px;
  }

  .input2 {
    width: 262px;
    height: 60px;
    border: 1px solid #e0e0e0;
    margin-bottom: 8px;
    padding: 20px;
  }

  .input3 {
    width: 542px;
    height: 123px;
    border: 1px solid #e0e0e0;
    padding: 20px;
  }

  /* footer */

  .contact_footer {
    margin-top: 132px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 40px;
  }

  .footer_icons {
    margin-right: 164.31px;
    margin-top: 0;
  }

  .footer_icon {
    margin-left: 28.37px;
  }

  .resume {
    margin-left: 160px;
  }

  /* project popup */

  .project_pop {
    border: solid 20px #1a2236;
  }

  .popup_text {
    width: 50%;
  }

  .popup_buttons {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .popup_btn {
    width: 30%;
    margin-left: 30px;
    display: flex;
    justify-content: space-around;
    align-content: center;
  }

  .popup_btn .fas,
  .popup_btn .fab {
    padding-left: 10px;
  }

  .popup_btn:nth-child(2) {
    background-color: #1a2236;
  }

  .popup_btn:nth-child(2) a {
    color: #fff;
  }

  .popup_btn:nth-child(1) {
    margin-left: 210px;
  }

  .image_container_all {
    height: 9000px;
  }

  .popup_img {
    height: 600px;
  }
}
